<h1>About HrCompany</h1>

<p><span class="firstparapullout">&#8220;A premier European technology outsourcing partner.&#8221;</span>                    </p>
                  <p>Lantec provide outsourced services to the Retail, Banking and Commercial industries. Established in 1998, Lantec was originally a supplier of IT outsourced services which ranged from 'safe hand engineers' to high levels of IT project management for the Banking Sector. Our outsourced service offerings have continued to expand based on our ability to work closely with our partners, and provide services that benefit them, their clients and us &#8211; a truly symbiotic set of relationships.</p>
                  <p><span class="subheader"><strong>Building Blocks</strong></span><br />
                    Lantec's services are based on the philosophy of 'Building Blocks'; individual components, custom-built and constructed to match your specifications.</p>
                  <p>Our service offering includes <a href="warehouseanddistributionservices.html" class="bodytext-links">warehouse storage facilities</a>, <a href="nationwidefieldserviceengineers.html" class="bodytext-links">Field Service Engineers</a>, <a href="onlinejobtracking.html" class="bodytext-links">Online Job Tracking</a> and support via our <a href="servicedeskandhelpdesk.html" class="bodytext-links">ERCC</a>. For more information about our flexible and adaptable solutions, <a href="contact_lantec.html#accountmanagement" class="bodytext-links">click here</a> for Account Management contact details.</p>
                  <p><strong class="subheader">Dedication to growth</strong><br />
                    Joint shareholders, <a href="meettheteam.html" class="bodytext-links">John Gibson</a> and <a href="meettheteam.html" class="bodytext-links">Howard Bootle</a> are dedicated to the growth of Lantec and consider private ownership of the company to be one of its greatest strengths, giving the business stronger control and precision over its strategy for success, as well as real clarity in terms of the roadmap to get there.</p>
                  <p>With our UK offices and <a href="warehouseanddistributionservices.html" class="bodytext-links">warehouse facilities</a> in Dunstable, Bedfordshire and operations in Europe, Lantec provide bespoke outsourced services to organisations looking to reduce costs via flexible solutions. Our support and <a href="projectmanagementanddeploymentservices.html" class="bodytext-links">project management</a> ensures organisations that do not have the expertise or the desire to hold a permanent headcount required to deliver these services themselves, are offered a tailored solution to meet their needs and business cost models.</p>
                  <p><span class="subheader"><strong>Registered offices:</strong></span><strong><br />
                    Lantec (UK) Ltd</strong><br />
                   
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Company 2014</p>
      </footer>
    </div>