<h1>European Contact Details</h1><br>

<hr>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
         
          <h3>Head Office  &amp; Warehouse:</h3>
                    <p>  Unit 6, Nimbus Park,<br />
                      Porz Avenue, Houghton Hall Park,<br />
                      Houghton Regis, Dunstable<br />
                      LU5 5WZ<br /> </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h3>Portland Close Office  &amp; Warehouse:</h3>
          
                      <p>Unit B3, Portland Close,<br />
                      Townsend Industrial Estate,<br />
                      Houghton Regis, Dunstable<br />
                      LU5 5AW<br />
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h3>Training Facility:</h3>
          
            <p>Unit 1, Mead Business Centre,<br />
                      173 &#8211; 176 Berkhampstead Road,<br />
                      Chesham<br />
                      HP5 3ET<br /></td>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Company 2014</p>
      </footer>
    </div> <!-- /container -->

