<h1>Our Services</h1>
                  </p>
                  <p><span class="firstpara">Tailored to help meet your business objectives, our range of 'Building Blocks' can be individually designed and structured to create your ideal outsourcing solution.</span>                    </p>
                  <p>Lantec offer a self-select collection of 'Building Blocks' to ensure your solution is unique to your business model.</p>
                  <p>Whether you require storage of ATMs via our <a href="warehouseanddistributionservices.html" class="bodytext-links">Warehouse &amp; Distribution Service</a>, configuration of Electronic Funds Transfer Point of Sale (EFTPOS) terminals at our <a href="configurationandstagingservices.html" class="bodytext-links">specialist centre in Bedfordshire</a>, or installation of in-house IT equipment by one of our <a href="nationwidefieldserviceengineers.html" class="bodytext-links">Field Service Engineers</a>, Lantec can provide the right formation of 'Building Blocks' for you, based on flexible, interchangeable solutions.</p>

<p class="subheader">Some of the benefits of partnering with Lantec:</p>
<table width="500" border="0" cellspacing="0" cellpadding="0">
                 
                 <td width="25" valign="top"><img src="images/tick.jpg" alt="tick image" width="11" height="11" /></td>
                 <td valign="top" class="body_text_tick_table">Through working to controllable, fixed costs, our selection of 'Building Blocks'                       allow you to plan your finances more efficiently and manage your outgoings month to month.</td>
                    </tr>
                    <tr>
                      <td width="25" valign="top"><img src="images/tick.jpg" alt="tick image" width="11" height="11" /></td>
                      <td valign="top" class="body_text_tick_table">Reduce your business costs: through achieving economies of scale we pass our cost savings to you</td>
                    </tr>
                    <tr>
                      <td width="25" valign="top"><img src="images/tick.jpg" alt="tick image" width="11" height="11" /></td>
                      <td valign="top" class="body_text_tick_table">All <a href="nationwidefieldserviceengineers.html" class="bodytext-links">Field Service Engineers</a> assigned to your project can be accredited and trained to your specifications.</td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/tick.jpg" alt="tick image" width="11" height="11" /></td>
                      <td valign="top" class="body_text_tick_table">Our outsourced services ensure you can focus on your core business functions while we cover the areas we excel at.</td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/tick.jpg" alt="tick image" width="11" height="11" /></td>
                      <td valign="top" class="body_text_tick_table">Reduce time to market: outsourcing activities to Lantec can help streamline a project, whether you're opening a new store, launching a new product, moving into a new building or refreshing your current software.</td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/tick.jpg" alt="tick image" width="11" height="11" /></td>
                      <td valign="top" class="body_text_tick_table"><a href="projectmanagementanddeploymentservices.html" class="bodytext-links">Project and implementation management</a>.</td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/tick.jpg" alt="tick image" width="11" height="11" /></td>
                      <td valign="top" class="body_text_tick_table">Management of your assets: our logistics and warehousing processes provide <a href="onlinejobtracking.html" class="bodytext-links">fully tracked and traceable technology</a> to ensure your valuable assets are always visible to you.</td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/tick.jpg" alt="tick image" width="11" height="11" /></td>
                      <td valign="top" class="body_text_tick_table">ISO 9001 (International Standardization Organization) certified</td>
                    </tr>
</table>
              
